* {
    box-sizing: border-box;
    max-width: 1200px;
}


header {
    border: 20px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
}


nav {
    background-color: #2D4059;
    display: flex;
}


nav>div {
    background-color: #EA5455;
    height: 20px;
}


.c1 {
    width: 20%;
    margin: 20px 0 20px 20px;
}


.c2 {
    width: 60%;
    margin: 20px;
}


.c3 {
    width: 20%;
    margin: 20px 20px 20px 0;
}


.header-inf {
    background-color: #F07B3E;
    border-top: 10px solid black;
}


.header-inf>div {
    background-color: #FDD460;
    height: 20px;
    margin: 20px;
}


.content {
    border: 20px solid black;
    margin: 20px;
    display: flex;
}


article {
    flex: 2;
    background-color: #4E4D6A;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}


article>div {
    background-color: #1F6CB0;
    height: 20px;
    width: 48%;
    margin-bottom: 20px;
}


article>div:last-child {
    background-color: #70A3C4;
    width: 100%;
    margin: 0;
}


aside {
    flex: 1;
    background-color: #F83F52;
    border-left: 20px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
}


aside>div {
    background-color: #FEEA85;
    height: 20px;
}


footer {
    background-color: #FDC765;
    border: 20px solid black;
    margin: 20px;
}


footer>div {
    background-color: #FDC765;
    height: 20px;
}

@media screen and (max-width: 768px) {

    .content {
        border: 20px solid #FEE228;
        flex-direction: column;
    }


    aside {
        border-top: 20px solid #FEE228;
        border-left: none;
    }


}


@media screen and (max-width: 600px) {

    nav {
        display: block;
    }

    .c1,
    .c2,
    .c3 {
        width: auto;
        margin: 20px;
    }


    article {
        background-color: #0C506F;
        display: block;
    }


    article>div {
        background-color: #61959C;
        width: 100%;
    }


    article>div:last-child {
        background-color: #A3DDCA;
    }


    aside {
        background-color: rgb(250, 123, 85);
    }


    aside>div {
        background-color: #FCB36B;
    }


}